/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 7
   Case Problem 2

   Spice Bowl Payment Form Validation Style Sheet
   Author: Aiden Martinez
   Date:   01.15.2019

   Filename: sb_validate.css

*/


/* Validation Styles */